{% extends "base.html" %}
{% load static %}
{% block body %}
<main class="bg-base">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2>About Us</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 d-flex flex-column flex-md-row about-container gap">
                <img src="https://ci-project-five-druid-computers.s3.eu-west-1.amazonaws.com/media/tramore-beach.jpg" alt="Photo of Tramore beach with the town in the distance">
                <div class="d-flex flex-column gap justify-content-center bg-one border rounded p-4">
                    <p>Located in the small town of Tramore, in the sunny south east of Ireland, Druid Computers exists to provide its customers with the best in watercooling parts and advice. 
                        The inspiration to start the company came when the founder started a software development diploma. Whilst studying for this diploma, locked away in a small room for hours on end, 
                        our founder discovered that his computer would make the room uncomfortably hot. There had to be a better way of keeping the computer and the room cool than the fans that it currently used, 
                        and so began our journey.</p>
                    <p>From our humble beginnings we are able to supply the latest watercooling parts to our customers across Ireland, Europe and the wider world. Introductory offers include free shipping so there is no better time to make a purchase.</p>
                </div>

            </div>
        </div>
    </div>
    
</main>
{% endblock %}