{% extends "base.html" %}

{% block body %}
<section>
    <h2 class="my-2">{% if address %}Edit{% else %}Add an{% endif %} Address</h2>
    <form action="." method="post" class="form-floating mb-3">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Cancel</a>
        {% if address %}
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#delete-address-modal">Delete Address</button>
        {% endif %}
    </form>
</section>
<!-- delete modal -->
{%if address %}
<div class="modal fade" id="delete-address-modal" tabindex="-1" aria-labelledby="delete-address-modal-label" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="delete-address-modal-label">Delete Address</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- modal body -->
        <div class="modal-body">
        <div class="flex flex-row justify-content-center">
            <p>Are you sure you want to delete this Address from your account?</p>
        </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        <a class="btn mt-1 btn-secondary" href="{% url 'delete_address' address.id %}">Delete Address</a>

        </div>
    </div>
    </div>
</div>
{% endif %}
{% endblock %}