{% extends 'base.html' %}
{% block body %}

<h2 class="mt-5 mt-lg-4">My Profile</h2>

<main>
    <nav>
        <ul>
            <li>
                <a href="">My Orders</a>
            </li>
            <li>
                <a href="">My Wishlist</a>
            </li>
            <li>
                <a href="{% url 'account_email' %}">Change Email</a>
            </li>
            <li>
                <a href="{% url 'account_change_password' %}">Change Password</a>
            </li>
        </ul>
    </nav>

    <section>
        <h3>My Addresses</h3>
        <div class="address-outer-container d-flex justify-content-center">
            <div class="address-container">
                <a href="{% url 'add_address' %}">
                    <span class="add-address-icon d-flex flex-column justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                        </svg>
                        Add Address
                    </span>
                </a>
            </div>
            {% comment %} insert for loop to display address card for each address {% endcomment %}
            {% for address in addresses %}
            <div class="address-container">
                
                <p>{% if address.street_address_1 %}{{ address.street_address_1 }}{% else %}<br>{% endif %}</p>
                <p>{% if address.street_address_2 %}{{ address.street_address_2 }}{% else %}<br>{% endif %}</p>
                <p>{% if address.town_or_city %}{{ address.town_or_city }}{% else %}<br>{% endif %}</p>
                <p>{% if address.county %}{{ address.county }}{% else %}<br>{% endif %}</p>
                <p>{% if address.postcode %}{{ address.postcode }}{% else %}<br>{% endif %}</p>
                <p>{% if address.country %}{{ address.country }}{% else %}<br>{% endif %}</p>
                {% if address.default %}
                <p class="default-address">Default Address</p>
                {% else %}
                {% comment %} <a href="" class="make-default-address">
                  
                        Make Default
                    
                </a> {% endcomment %}
                <form action="" method="post" class="make-default-address">
                    {% csrf_token %}
                    <input type="hidden" name="address" value="{{ address.id }}">
                    <button type="submit">Make Default</button>
                </form>
                {% endif %}
                {% comment %} edit address link {% endcomment %}
                <a href="{% url 'edit_address' address.id %}" class="edit-address d-flex flex-column justify-content-center align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                    <span class="sr-only">Edit Address</span>
                </a>
                
            </div>
            {% endfor %}
        </div>
    </section>
</main>
<section class="my-4">
    <h3>Delete My Account</h3>
    <p>At Druid, we take the management of your personal data very seriously. We do not sell your information to anyone, and only store the details that are needed in order to deliver your orders. We keep details of prior orders for our needs and for your records. If you would like to delete your account on the website, you can do so by following the link below. Once your account has been deleted it can not be undone. You are of course able to make a new account at any time.</p>
    <!-- Add link to delete account modal -->
    <button type="button" class="btn mt-1" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete Account</button>
</section>

<!-- delete modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="delete-modal-label">Delete Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- modal body -->
        <div class="modal-body">
        <div class="flex flex-row justify-content-center">
            <p>Are you sure you want to delete your account? This can not be undone!</p>
        </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
        <a class="btn mt-1" href="">Delete Account</a>

        </div>
    </div>
    </div>
</div>
{% endblock %}