{% if category %}
<div class="category-container d-flex mt-2" id="category-{{ category.id }}">
    <p>
        {{ category.name }}
    </p>
    {% if category.id != 1 %}
    <button type="button" class="btn btn-primary btn-sm" hx-get="{% url 'edit_blog_category' category.id %}" hx-swap="outerHTML" hx-target="#category-{{ category.id }}" hx-trigger="click">
        <i class="fa-solid fa-pen-to-square">
        </i>
        <span>Edit</span>
    </button>
    <button type="button" class="btn btn-secondary btn-sm" hx-get="{% url 'get_delete_blog_category' category.id %}" hx-swap="outerHTML" hx-target="#category-{{ category.id }}" hx-trigger="click">
        <i class="fa-solid fa-trash-can">
        </i>
        <span>Delete</span>
    </button>
    {% endif %}

</div>
{% endif %}
<div id="add-blog-category-container"></div>