<form class="category-form d-flex"
      id="add-category-form"
      action="." 
      method="POST" 
      data-hx-post="{% url 'add_blog_category' %}"
      data-hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      data-hx-swap="outerHTML">
    {% csrf_token %}
    
    {{ category_form|crispy }}
    
    <button class="btn" type="submit">Save</button>
    <button type="button"
            hx-get="{% url 'get_add_blog_category_container' %}"
            hx-swap="outerHTML"
            hx-target="#add-category-form"
            hx-trigger="click">Cancel</button>
</form>