<div class="category-container d-flex mt-2 gap flex-wrap" id="category-{{ category.id }}">
    <p class="flex-grow-1 text-truncate d-inline-block">
        {{ category.name }}
    </p>
    {% if category.id != 1 %}
    <span class="ml-4">
        <button class="btn btn-sm btn-secondary" data-hx-get="{% url 'edit_blog_category' category.id %}" data-hx-swap="outerHTML" data-hx-target="#category-{{ category.id }}" data-hx-trigger="click">
            <i class="fa-solid fa-pen-to-square">
            </i>
            <span>Edit</span>
        </button>
        <button class="btn btn-sm btn-secondary" data-hx-get="{% url 'get_delete_blog_category' category.id %}" data-hx-swap="outerHTML" data-hx-target="#category-{{ category.id }}" data-hx-trigger="click">
            <i class="fa-solid fa-trash-can">
            </i>
            <span>Delete</span>
        </button>
    </span>
    {% endif %}

</div>