<form class="category-form d-flex"
      id="category-delete-form-{{ category.id }}"
      action="." 
      method="POST" 
      data-hx-post="{% url 'delete_blog_category' category.id %}" 
      data-hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      data-hx-swap="outerHTML">
    {% csrf_token %}
    
    <p>Are you sure you want to delete "{{category}}"?</p>
    <button type="button"
            class="btn btn-primary"
            data-hx-get="{% url 'get_blog_category_detail' category.id %}"
            data-hx-swap="outerHTML"
            data-hx-target="#category-delete-form-{{ category.id }}"
            data-hx-trigger="click">Cancel</button>
    <button class="btn btn-secondary" type="submit">Delete</button>
    
</form>