
<form class="category-form d-flex"
      id="category-form-{{ category.id }}"
      action="." 
      method="POST" 
      data-hx-post="{% url 'edit_blog_category' category.id %}" 
      data-hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      data-hx-swap="outerHTML">
    {% csrf_token %}
    
    {{category_form|crispy }}
    <button class="btn btn-primary" type="submit" id="save-btn-edit-category">Save</button>
    <button class="btn btn-secondary"
            id="cancel-btn-edit-category"
            type="button"
            data-hx-get="{% url 'get_blog_category_detail' category.id %}"
            data-hx-swap="outerHTML"
            data-hx-target="#category-form-{{ category.id }}"
            data-hx-trigger="click">Cancel</button>
</form>
