
<form class="category-form d-flex"
      id="category-form-{{ category.id }}"
      action="." 
      method="POST" 
      data-hx-post="{% url 'edit_blog_category' category.id %}" 
      data-hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      data-hx-swap="outerHTML">
    {% csrf_token %}
    
    {{category_form|crispy }}
    <button class="" type="submit">Save</button>
    <button type="button"
            hx-get="{% url 'get_blog_category_detail' category.id %}"
            hx-swap="outerHTML"
            hx-target="#category-form-{{ category.id }}"
            hx-trigger="click">Cancel</button>
</form>
