<form action="{% url 'favourite' product.id %}" method="post" data-hx-post="{% url 'favourite' product.id %}" data-hx-swap="outerHTML" data-hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% csrf_token %}
    
    {% if product in request.user.product_favourites.all %}
    <button type="submit" name="product_id" value="{{ product.id }}" class="btn favourite" title="Remove this product from your wishlist" id="wishlist-btn">
        <i class="fa-solid fa-heart"></i>
    </button>
    {% else %}
    <button type="submit" name="product_id" value="{{ product.id }}" class="btn favourite" title="Add to your wishlist"  id="wishlist-btn">
        <i class="fa-regular fa-heart"></i>
    </button>
    {% endif %}
</form>
