{% if favourite %}
    <form action="{% url 'favourite' product.id %}" method="post" data-hx-post="{% url 'favourite' product.id %}" data-hx-swap="outerHTML" data-hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% csrf_token %}
        <button type="submit" name="product_id" value="{{ product.id }}" class="btn favourite" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remove this product from your wishlist">
            <i class="fa-solid fa-heart"></i>
            {% comment %} <span class="ml-1">Remove from Wishlist</span> {% endcomment %}
        </button>
    </form>
    {% else %}
    <form action="{% url 'favourite' product.id %}" method="post" data-hx-post="{% url 'favourite' product.id %}" data-hx-swap="outerHTML" data-hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% csrf_token %}
        <button type="submit" name="product_id" value="{{ product.id }}" class="btn favourite" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add to your wishlist">
            <i class="fa-regular fa-heart"></i>
            {% comment %} <span class="ml-1">Add to Wishlist</span> {% endcomment %}
        </button>
    </form>
{% endif %}