/* font-family: 'Economica', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Orbitron', sans-serif; */

/* import fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Economica:wght@400;700&family=Montserrat:wght@400;500&family=Orbitron:wght@400;500&display=swap');

/* general rules */

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

input {
    padding-left: 0.25rem;
}
/* end of reset */

/* font setup  */
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* colour variables */
    --primary: #03045E;
    --primary-text: #f2f4f8;
    --primary-hover: hsl(239, 94%, 29%);
    --primary-text-hover: #ffffff;
    --secondary: #c7ccdb;
    --secondary-text: #000;
    --secondary-hover: hsl(225, 22%, 92%);
    --secondary-text-hover: hsl(0, 0%, 20%);
    --bg-white: #fff;
    --bg-one: var(--primary-text);
    --bg-two: #e1e5ee;
    --accent: #f7c59f;
    --success: #70ae6e;
    --error: #ef626c;
    --info: #1188a0;
    --warning: #f3c178;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Orbitron', sans-serif;
}

h1,
h6 {
    font-weight: 500;
}

button {
    font-weight: 500;
}

.subtitle {
    font-family: 'Economica', sans-serif;
}

.subtitle-bold {
    font-family: 'Economica', sans-serif;
    font-weight: 700;
}

/* Utility Style Rules */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    /* background: #FF6F52; */
}

.main-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.gap {
    gap: 1rem;
}

a {
    color: #000;
    text-decoration: none;
}

.bg-base {
    background-color: var(--bg-white);
}

.bg-one {
    background-color: var(--bg-one);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);

}

.btn-primary {  
    /* bootstrap class */
    --bs-btn-color: var(--primary-text);
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: var(--primary-text);
    --bs-btn-hover-color: var(--primary-text-hover);
    --bs-btn-hover-bg: var(--primary-hover);
    --bs-btn-hover-border-color: var(--primary-text-hover);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: var(--primary-text);
    --bs-btn-active-bg: var(--primary-hover);
    --bs-btn-active-border-color: var(--primary-text-hover);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--primary);
    --bs-btn-disabled-bg: var(--primary-text);
    --bs-btn-disabled-border-color: var(--primary);
}

.btn-secondary {
    --bs-btn-color: var(--secondary-text);
    --bs-btn-bg: var(--secondary);
    --bs-btn-border-color: var(--secondary-text);
    --bs-btn-hover-color: var(--secondary-text-hover);
    --bs-btn-hover-bg: var(--secondary-hover);
    --bs-btn-hover-border-color: var(--secondary-text-hover);
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: var(--secondary-text);
    --bs-btn-active-bg: var(--secondary-hover);
    --bs-btn-active-border-color: var(--secondary-text-hover);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--secondary);
    --bs-btn-disabled-bg: var(--secondary-text);
    --bs-btn-disabled-border-color: var(--secondary);
}


#mc_embed_signup .button {
    background-color: var(--secondary);
    color: var(--secondary-text);
}

/* nav bar styling  */

header {
    background: var(--primary);
}

.navbar {
    padding: 0;
}

.navbar-brand {
    margin-right: 0;
}

.navbar-toggler {
    padding: 4px 4px;
}

.navbar {
    --bs-navbar-color: var(--primary-text);
    --bs-navbar-hover-color: var(--primary-text-hover);
    --bs-navbar-disabled-color: hsla(0, 0%, 100%, 0.75);
    --bs-navbar-active-color: var(--primary-text-hover);
    --bs-navbar-brand-color: var(--primary-text);
    --bs-navbar-brand-hover-color: var(--primary-text-hover);
}

.dropdown-toggle {
    color: var(--primary-text)
}

.dropdown-toggle:hover,
.dropdown:hover {
    color: var(--primary-text-hover);
}

.dropdown-menu {
    background: var(--secondary);
    color: var(--secondary-text)
}

.nav-link:hover,
.dropdown-item:hover,
#search-container:hover,
#cart-container:hover {
    border-bottom: 1px solid var(--secondary-text-hover);
}

#top-nav-container {
    box-sizing: border-box;
    height: 40px;
}

.navbar-toggler-icon {
    height: 1em;
    background-image: none;
    font-size: 1.5rem;
}

.offcanvas-body > .navbar-nav > .nav-item > .nav-link {
    color: var(--secondary-text);
}

#offcanvasNavbarDropdown {
    color: var(--secondary-text);
}

/* svg styling */
.logo-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.logo-container h1 {
    color: var(--primary-text);
}

#logo {
    height: 50px;
}

.cls-1 {
    fill:#fff;
}

.cls-2 {
    fill:#03045e;
}

#icon-container {
    font-size: 1.5rem;
    justify-content: space-between;
    list-style: none;
    width: 90px;
    color: var(--primary-text);
}

#cart-container > a {
    color:var(--primary-text);
    text-decoration: none;
}

.cart-icon {
    position: relative;
}

.cart-icon > i {
    position: relative;
    z-index: 50;
}

.product-count-one,
.product-count-two,
.product-count-three {
    height: 8px;
    width: 4px;
    background: var(--primary-hover-text);
    position: absolute;
}

.product-count-one {
    top: 2px;
    left: 8px;
}

.product-count-two {
    top: 0;
    left: 12px;
}

.product-count-three {
    top: 2px;
    left: 16px;
}

.product-count-container {
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--secondary);
    color: var(--secondary-text);
    font-size: .9rem;
    padding: .2rem;
    border-radius: 50%;
    border: 1px solid var(--secondary-text);
    z-index: 100;
}



/* Search Section styling  */
header {
    position: relative;
}

#search-container {
    cursor: pointer;
    height: 100%;
}

#search-form-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 500;
    /* needs a filter variable set rather than rgba */
    background: rgba(41, 41, 41, 0.55);
    display: none;
}

.search-form {
    display: none;
    position: relative;
    top: 80px;
    padding: 20px;
    z-index: 1000;
    background: #fff;
    max-width: 900px;
    left: 50%;
    transform: translateX(-50%);
}

/* spacer styling for fixed nav bar */
.spacer {
    height: 88px;
}

/* footer styling */
footer {
    background: var(--primary);
    color: var(--primary-text);
}

/* Mailchimp styling */

#mc_embed_signup {
    clear: left;
    font-size: 16px;
}


#mc_embed_signup form {
    background: var(--primary);
    color: var(--primary-text);
    padding: 0;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    padding: 0 1rem;
    color: var(--error);
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--primary);
}

#mc_embed_signup .mc-field-group input {
    max-width: 500px;
}

footer ul,
footer li {
    list-style: none;
}

/* Forms */
.edit-details-form {
    max-width: 500px;
}

/* Home page */
.hero-container {
    background: url(https://ci-project-five-druid-computers.s3.eu-west-1.amazonaws.com/media/coolingtubes.jpg) no-repeat center center;
    background-size: cover;
    height: 600px;
    position: relative;
}

.hero-text {
    max-width: 650px;
    text-align: center;
    color: var(--primary-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.explore {
    /* height: clamp(200px, 100%, 300px); */
    /* width: clamp(200px, 100%, 300px); */
    aspect-ratio: 2.2/1;
    width: 100%;
    max-width: 900px;
    height: 100%;
    min-height: 150px;
    max-height: 350px;
    position: relative;
    background-size: contain;
}

.explore > div {
    color: var(--primary-text);
    width: 85%;
    position: absolute;
    left: 0;
    bottom: 10%;
    background:hsla(0, 0%, 0%, 0.5);
    padding: 1rem;
}

.explore-cases {
    background: url(https://ci-project-five-druid-computers.s3.eu-west-1.amazonaws.com/media/evolv_shift_xt_satin_black_1-home.jpg) no-repeat center center;
}

.explore-desks {
    background: url(https://ci-project-five-druid-computers.s3.eu-west-1.amazonaws.com/media/lian-li-dk-05f-desktop-case-height-adjustable-black-2-home.jpg) no-repeat center center;
}

.explore-distroplates {
    background: url(https://ci-project-five-druid-computers.s3.eu-west-1.amazonaws.com/media/p-0345_ek-quantum-reflection-dk-05f_long-home.webp) no-repeat center center;
}

.explore-fixtures {
    background: url(https://ci-project-five-druid-computers.s3.eu-west-1.amazonaws.com/media/cablemod-pro-bridged-cable-comb-kit-black-home.jpg) no-repeat center center;
}

/* profile page */
.profile-nav > ul {
    list-style: none;
    min-height: 44px;
}

.profile-nav li {
    padding: 0 8px;
}

.profile-nav .nav-link:hover {
    border-bottom: 1px solid var(--secondary-text-hover);
}

.address-outer-container {
    gap: 2rem;
}

.address-container {
    width: 280px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
}

.address-container > a {
    text-decoration: none;
    color: black;
}

.address-container > p {
    padding-inline: 1rem;
}

.add-address-icon {
    height: 100%;
    width: 100%;
    padding: 1.7rem;
}

.add-address-icon > svg {
    fill: var(--primary);
    height: 4rem;
    width: 4rem;
}

.add-address-icon > svg:hover {
    fill: var(--primary-text);
    stroke: var(--primary);
    border-radius: 50%;
}

.default-address {
    background:var(--primary);
    color: var(--primary-text);
    text-align: center;
}

.make-default-address > button {
    background:var(--secondary);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    color: var(--secondary-text);
}

.edit-address {
    position: absolute;
    top: 0;
    right: 0;
}

.edit-address > svg {
    fill: #292929;
    height: 2rem;
    width: 2rem;
}

.edit-address > svg:hover {
    fill: #494949;
}

/* blog posts */
.blog-post-container > a:hover {
    color: black;
}

.blog-card-image {
    max-width: min(100%, 485px);
}

.blog-nav > ul {
    gap: 1rem;
}

.blog-nav li {
    list-style: none;
}

.blog-card-post-container {
    gap: 1rem;
}


/* Product Card Styling */
.product-card {
    max-width: 300px;
    /* height: 500px; */
}

.card-img-top-container {
    height: 298px;
}

.product-card-title {
    min-height: 45px;
}

.tag {
    background: var(--secondary);
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
}

.tag > .stock {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--success);
}

.increment-qty,
.decrement-qty {
    padding: .35rem .7rem !important;
}
.decrement-qty[disabled]{
    border-color: transparent;
}

.product-card-form .form-row {
    gap: 1rem;
}

.product-card-form input[type='number'] {
    width: 50px;
}

/* Product Detail Page */
#image-container {
    max-height: 750px;
}

/* .carousel-item.active {
    max-height: calc(100% - 100px) !important;
} */

.carousel-item.active > img {
    max-height: 650px !important;
    object-fit: cover;
    margin: auto;
}

.carousel-image {
    object-fit: cover;
    max-height: 100% !important;
    width: 100%;
}

.carousel {
    height: 100%;
}

.carousel-indicators {
    height: 100px;
    position: relative;
    margin: 0;
}

.carousel-inner {
    max-height: calc(100% - 100px);
}

.list-inline-item {
    height: 100px;
}

.carousel-indicators [data-bs-target] {
    margin: 0;
    border: 0;
}

.add-to-bag-form input[type='number'] {
    max-width: 50px;
}

.grayscale {
    filter: grayscale(100%);
}

.highlights-image-container,
.tech-details-image-container {
    position: relative;
    min-width: 50%;
}

.highlights-image-container > div,
.tech-details-image-container > div {
    position: absolute;
    top: 25%;
    height: 50%;
    width: 100%;
    background-color: var(--error);
    opacity: 0.5;
    z-index: 10;
}

.highlights-image-container > img,
.tech-details-image-container > img {
    margin: auto;
}

.tech-details-image-container > div {
    background-color: var(--warning);
}

/* Product Management Page */
.product-management-nav li {
    list-style: none;
}

.product-list > :first-child {
    width: min(280px, 100%);
}

/* Add/Edit product page */
.product-form > .btn-file {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

/* Summernote text field styling */
/* 
overrides font styling that might be included when users
paste text in from other documents. Needs important tag.
*/

.summernote-div .note-editable {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1rem !important;
    text-align: left !important;
}

/* shopping bag styling */
.update-form input[type='number'] {
    max-width: 50px;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.table-image > img {
    max-height: 100px;
}

.table-qty-form {
    width: 125px;
}

/* Checkout styling */
.address-modal-body {
    max-height: 70vh;
    overflow-y: auto;
}

/* Order Management Page */
.order-management-filter {
    max-width: 500px;
    margin: 0 auto;
}

.order-number-truc {
    cursor: pointer;
}

.order-card {
    width: clamp(250px, 100%, 300px);
}

.order-card span {
    min-width: 2rem;
}

.order-card-item-container {
    height: 80px;
    overflow-y: auto;
}

/* My Favourites Page */
.product-favourites-row {
    gap: 1rem;
    max-width: min(340px, 100%);
}

.product-favourites-row .price {
    min-width: 110px;
}

.product-favourites-row .image-link {
    min-width: 150px;
}

.product-favourites-image {
    max-height: 100px;
    /* max-width: clamp(200px, 100%, 280px); */
}

.product-favourites-name:hover {
    color: var(--secondary-text);
}

.favourite-row-input {
    max-width: 78px;
}

.favourite {
    color: var(--error);
}

.favourite:hover,
.favourite:active,
.favourite:visited,
.favourite:focus {
    color: var(--error);
    border-color: var(--error);
}

/* Toast styling */
.message-container {
    position: fixed;
    top: 150px;
    right: 20px;
    z-index: 99999;
    max-width: max(25%, 280px);
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 5px;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.toast {
    /* width: 100%; */
    max-width: 100%
}

.bag-notification-wrapper {
    height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* All Auth Templates */
.password_change {
    max-width: 500px;
}

/* Pagination */
.pagination {
    --bs-pagination-color: var(--primary-text);
    --bs-pagination-bg: var(--primary);
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: var(--primary-text);
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: var(--primary-text-hover);
    --bs-pagination-hover-bg: var(--primary-hover);
    --bs-pagination-hover-border-color: var(--primary-text);
    --bs-pagination-focus-color: var(--primary-text);
    --bs-pagination-focus-bg: var(--primary-hover);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: var(--primary-hover-text);
    --bs-pagination-active-bg: var(--primary-hover);
    --bs-pagination-active-border-color: var(--primary-text);
    --bs-pagination-disabled-color: var(--primary);
    --bs-pagination-disabled-bg: var(--primary-text);
    --bs-pagination-disabled-border-color: var(--primary);
    display: flex;
    padding-left: 0;
    list-style: none;
}

.page-link.active {
    background-color: var(--secondary-hover);
    color: var(--secondary-text-hover);
    border-color: var(--secondary-text-hover);
}

/* media query set at 576px for the bootstrap breakpoint to sm */
@media (min-width: 576px) {
    .blog-card-image {
        max-width: max(190px, 25%);
        height: auto;
        object-fit: cover;
    }

    .product-card-form .form-row {
        gap: 0;
    }

    .product-form > .btn-file {
        align-items: flex-start;
    }
}

/* media query set at 992px as that is the bootstrap breakpoint to lg */
@media (min-width: 992px) {

    .spacer {
        height: 188px;
    }

    .navbar {
        --bs-navbar-color: var(--primary-text);
        --bs-navbar-hover-color: var(--primary-text-hover);
        --bs-navbar-disabled-color: hsla(0, 0%, 100%, 0.75);
        --bs-navbar-active-color: var(--primary-text-hover);
        --bs-navbar-brand-color: var(--primary-text);
        --bs-navbar-brand-hover-color: var(--primary-text-hover);
    }
    .offcanvas-body > .navbar-nav > .nav-item > .nav-link {
        color: var(--primary-text);
    }
    
    #offcanvasNavbarDropdown {
        color: var(--primary-text);
    }

    #account-links .nav-link {
        color: var(--primary-text);
    }

    .nav-link:hover,
    .dropdown-item:hover,
    #search-container:hover,
    #cart-container:hover {
        border-bottom: 1px solid var(--primary-text-hover);
    }

    .search-form {
        top: 188px;
    }

    .logo-container {
        position: relative;
        left: 0;
        transform: translateX(0);
    }

    #logo {
        height: 100px;
        padding-bottom: 20px;
    }

    #account-links {
        gap: 1.5rem;

    }
}

/* media query set at 1200px for the xl bootstrap breakpoint */
@media (min-width: 1200px) {
    /* My Favourites Page */
    .product-favourites-row {
        gap: 1rem;
        max-width: 100%;
    }
}
