{% extends 'base.html' %}
{% block body %}

<main>
    {% if post %}
    <h2>Edit Blog Post</h2>
    {% else %}
    <h2>Add Blog Post</h2>
    {% endif %}
    <form action="{% if post %}{% url 'edit_blog_post' post.slug %}{% else %}{% url 'add_blog_post' %}{% endif %}"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name != 'image' %}
                {{ field | as_crispy_field}}
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}
        <button type="submit">{% if post %}Save Changes{% else %}Add Blog Post{% endif %}</button>
    </form>
</main>

{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        let selector = document.getElementById('new-image');
        selector.addEventListener('change', (event) => {
            let file = selector.files[0];
            let filename = document.getElementById('filename');
            filename.textContent = `Blog post image will be set to: ${file.name}`;
        });
    </script>

{% endblock %}