{% extends 'base.html' %}
{% load static %}
{% if user.is_staff %}
    {% block extra_js %}
        <!-- htmx link -->
        <script src="{% static 'js/htmx.min.js' %}" defer></script>
        <!-- django-htmx debug code -->
        {% load django_htmx %}
        {% django_htmx_script %}
    {% endblock %}
{% endif %}

{% block body %}
<main class="bg-base">
    <section class="blog-hero-container d-flex justify-content-center align-items-center">
        <h2 class="text-center">Musings of the Druids</h2>
    </section>
    {% if user.is_staff %}
    <nav class="blog-nav">
        <ul class="d-flex flex-column flex-sm-row justify-content-center align-items-center mt-3">
            <li>
                <a href="{% url 'add_blog_post' %}" class="btn btn-primary">Add Post</a>
            </li>
            <li>
                <button class="btn btn-secondary" data-hx-get="{% url 'get_categories' %}" data-hx-swap="innerHTML" data-hx-target="#categories-container" data-hx-trigger="click">Category Management</button>
            </li>
        </ul>
    </nav>
    <div id="categories-container">

    </div>
    {% endif %}
    <section class="container-fluid">
        <h3 class="mb-4">Latest Blog Entries</h3>
        <div class="row">
            <div class="col-12 col-md-10 col-xl-8 col-xxl-6 mx-auto">
                <div class="blog-post-container">
                    {% if posts %}
                        {% for post in posts %}
                        <a href="{% url 'blog_post_detail' post.slug %}">
                            <div class="blog-card-post-container d-flex mt-4 flex-column flex-sm-row bg-one gap">
                                {% if post.image %}
                                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="blog-card-image">
                                {% else %}
                                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="blog-card-image">
                                {% endif %}
                                <div class="blog-card-content-container">
                                    <h5>{{ post.title }}</h5>
                                    <!-- Summernote content needs the safe tag to prevent code tags showing up in displayed content -->
                                    <p>{{ post.content|slice:350|safe }}</p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    {% else %}
                    <p>Hmm something isn't quite right here. It seems that the Druids have no thoughts on their minds. Maybe they are reorganising their thoughts a little and will be publically displaying them again soon.</p>
                    {% endif %}
                </div>
                <div>
                    {% include 'snippets/pagination.html' with query_set=posts custom_range=custom_range %}
                </div>
            </div>
        </div>
    </section>

</main>
<script src="{% static 'js/blog.js' %}"></script>
{% endblock %}