{% extends "account/base.html" %}

{% load i18n %}

{% block content %}
    <h2>{% trans "Change Password" %}</h2>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change mt-2">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="mt-2 btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}" class="btn mt-2 btn-primary">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}
