{% extends 'base.html' %}
{% load static %}
{% if user.is_staff %}
    {% block extra_js %}
        <!-- htmx link -->
        <script src="{% static 'js/htmx.min.js' %}" defer></script>
        <!-- django-htmx debug code -->
        {% load django_htmx %}
        {% django_htmx_script %}
    {% endblock %}
{% endif %}

{% block body %}
<main>
    <h2>Product Management Page</h2>
    {% if user.is_staff %}
    <nav class="product-management-nav mt-4">
        <ul class="d-flex justify-content-center">
            <li>
                <a href="{% url 'add_product' %}" class="btn btn-primary">Add Product</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex flex-column">
                {% for product in product_list %}
                <div class="d-flex flex-column flex-md-row w-100 mt-2 p-2 bg-one justify-content-evenly align-items-center product-list">
                    <p class="text-center text-md-start">
                        {{ product.name }}
                    </p>
                    <p>
                        {{ product.price }}
                    </p>
                    <p>
                        {{ product.sku }}
                    </p>
                    <div class="d-flex gap justify-content-center mt-2 mt-md-0">
                        <a href="{% url 'edit_product' product.slug %}" class="btn btn-primary">Edit</a>
                        {% if product.is_active %}
                        <button data-hx-get="{% url 'deactivate_product_modal' product.slug %}" data-hx-target="#modals-here" data-hx-trigger="click" type="button" class="btn btn-secondary">Deactivate</button>
                        {% else %}
                        <button data-hx-get="{% url 'deactivate_product_modal' product.slug %}" data-hx-target="#modals-here" data-hx-trigger="click" type="button" class="btn btn-primary">Activate</button>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p>This page is only accessible by authorised employees.</p>
            </div>
        </div>
    </div>
    {% endif %}
</main>
{% if user.is_staff %}
<!-- Modal -->
<div id="modals-here"></div>

{% endif %}
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    document.addEventListener('click', (event) => {
        if (event.target.id == 'deactivate-product-modal' || event.target.id == 'close-btn-deactivate-modal' || event.target.id == 'close-icon-deactivate-modal') {
            document.getElementById('deactivate-product-modal').style.display = 'none';
        }
    })
</script>
{% endblock %}