{% extends 'base.html' %}
{% load static %}

{% block body %}
<main class="bg-base">
    {% if product %}
    <h2>Edit Product</h2>
    {% else %}
    <h2>Add Product</h2>
    {% endif %}
    <div class="container-fluid bg-one mt-4 pb-4">
        <div class="row">
            <div class="col-12">
                <form class="product-form" action="{% if product %}{% url 'edit_product' product.slug %}{% else %}.{% endif %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form  %}
                        {% if field.name != 'primary_image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Save Product</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        let selector = document.getElementById('new-image');
        selector.addEventListener('change', (event) => {
            let file = selector.files[0];
            let filename = document.getElementById('filename');
            filename.textContent = `Primary product image will be set to: ${file.name}`;
        });
    </script>
{% endblock %}