{% extends 'base.html' %}
{% load static %}
{% if user.is_staff %}
    {% block extra_js %}
        <!-- htmx link -->
        <script src="{% static 'js/htmx.min.js' %}" defer></script>
        <!-- django-htmx debug code -->
        {% load django_htmx %}
        {% django_htmx_script %}
    {% endblock %}
{% endif %}

{% block body %}
<main>
    <h2>Product Management Page</h2>
    {% if user.is_staff %}
    <nav class="product-management-nav">
        <ul class="d-flex justify-content-center">
            <li>
                <a href="{% url 'add_product' %}" class="btn">Add Product</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% for product in product_list %}
                <div class="d-flex w-100 mt-2 p-2 justify-content-evenly align-items-center">
                    <p>
                        {{ product.name }}
                    </p>
                    <p>
                        {{ product.price }}
                    </p>
                    <p>
                        {{ product.sku }}
                    </p>
                    <a href="{% url 'edit_product' product.slug %}" class="btn">Edit</a>
                    {% if product.is_active %}
                    <button hx-get="{% url 'deactivate_product_modal' product.slug %}" hx-target="#modals-here" hx-trigger="click" type="button" class="btn">Deactivate</button>
                    {% else %}
                    <button hx-get="{% url 'deactivate_product_modal' product.slug %}" hx-target="#modals-here" hx-trigger="click" type="button" class="btn">Activate</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p>This page is only accessible by authorised employees.</p>
            </div>
        </div>
    </div>
    {% endif %}
</main>
{% if user.is_staff %}
<!-- Modal -->
<div id="modals-here"></div>

{% endif %}
{% endblock %}
{% block postloadjs %}
{% endblock %}